@media(max-width: 960px) {
    /*------------------ 公共的 Start ----------------*/
    body {
        background-color: #f2f2f2;
        min-width: 1280px;
    }
    .row {
        width: 100%;
    }
    .unit-separator {
        height: 17vh;
        background-color: #808080;
        text-align: center;
    }
    .unit-separator .separator-title {
        padding-top: 4vh;
        font-size: 8vw;
        font-weight: bold;
        color: #fefefe;
    }
    .unit-separator .separator-title span {
        color: #00a3ae;
    }
    .unit-separator .separator-description {
        font-size: 4vw;
        color: #fefefe;
    }
    .unit-content {
        height: 76vh;
    }
    /*------------------ 公共的 End ----------------*/
    /*------------------ 导航栏 Start -----------------*/
    #navigation-background {
        background-color: black;
        position: fixed;
        width: 100%;
        height: 10vh;
        left: 0;
        right: 0;
        z-index: 99;
    }
    #navigation {
        background-color: transparent;
        position: fixed;
        width: 100%;
        height: 10vh;
        z-index: 100;
    }
    #navigation #company-logo {
        height: 4.5vh;
        margin-top: 3vh;
        margin-left: 5vh;
    }
    #navigation ul {
        list-style-type: none;
        float: right;
        margin-top: -4vh;
        margin-right: 3vh;
        text-align: center;
        font-size: 4vw;
    }
    #navigation li {
        float: left;
        /*改动的地方*/
        width: 30vw;
        padding: 10px;
    }
    #navigation a:link, a:visited, a:hover, a:active {
        color: white;
        text-decoration: none;
    }
    #navigation a {
        display: block;
        /*整体变为可点击区域，而不只是字*/
    }
    /*------------------ 导航栏 End -----------------*/
    /*------------------- 首页 Start -----------------*/
    #home-page {
        background-image: url("img/home-page-background.gif");
        background-size: 100% 100%;
        width: 100%;
        height: 100vh;
    }
    #home-page p {
        color: white;
        margin-left: 13%;
    }
    #home-page .title {
        padding-top: 15%;
        font-size: 20vw;
        font-weight: bold;
    }
    #home-page .description {
        font-size: 8vw;
    }
    #home-page button {
        margin-left: 13%;
        margin-top: 2%;
        padding: 1.5vh 15vw;
        font-size: 6vw;
        color: #007a82;
    }
    /*------------------- 首页 End -----------------*/
    /*------------------- 关于 RPA Start --------------*/
    #about-rpa {
        width: 100%;
    }
    #about-rpa .slide {
        width: 100%;
        height: 100vh;
        min-height: 180px;
        overflow: hidden;
        position: relative;
        left: auto;
        right: auto;
    }
    #about-rpa .slide .img img {
        width: 30%;
    }
    #about-rpa .slide .img h2 {
        padding: 2% 0px;
    }
    #about-rpa .slide .img p {
        text-align: justify;
    }
    #about-rpa .slide-number {
        text-align: center;
        margin-top: 70vh;
        z-index: 999;
    }
    #about-rpa .slide-number button {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border-style: solid;
        border-color: #adadad;
        background-color: white;
        margin: 0 10px;
        font-size: smaller;
        color: #007a82;
    }
    .slide .img {
        overflow: hidden;
        position: absolute;
        transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
        text-decoration: none;
        width: calc(100% - 14px);
        height: calc(100% - 14px);
        margin: 7px;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        color: #808080;
        box-shadow: 0 0 3px #808080;
        background-color: white;
        box-shadow: 0px -2px 15px #888888;
        border-radius: 3%;
    }
    .slide .img1 {
        width: 40%;
        height: 40%;
        top: 30%;
        left: -50%;
        z-index: 1;
    }
    .slide .img2 {
        width: 60vw;
        height: 36vh;
        top: 10vh;
        left: 48vw;
        z-index: 2;
        font-size: 3.2vw;
    }
    .slide .img3 {
        width: 80vw;
        height: 48vh;
        top: 15vh;
        left: 112vw;
        z-index: 3;
        font-size: 4.8vw;
    }
    .slide .img4 {
        width: 60vw;
        height: 36vh;
        top: 10vh;
        left: 196vw;
        z-index: 2;
        font-size: 3.2vw;
    }
    .slide .img5 {
        width: 40%;
        height: 40%;
        top: 30%;
        left: 110%;
        z-index: 1;
    }
    /*------------------- 关于 RPA End --------------*/
    /*------------------ Uni Studio Start --------------*/
    #uni-studio {
        width: 100%;
    }
    #uni-studio .program-display {
        background-image: url('img/uni-studio-border.png');
        background-size: cover;
        margin-left: 40vw;
        margin-top: 5vh;
        width: 88vh;
        height: 71vh;
    }
    #uni-studio .program-display img {
        position: relative;
        border-style: dotted;
        border-color: #00a3ae;
    }
    #uni-studio .program-model-descript {
        float: right;
        width: 80vw;
        height: auto;
        text-align: center;
        margin-top: -60vh;
        margin-right: 20vw;
    }
    #uni-studio .program-model-descript button {
        color: #ffc000;
        pointer-events: none;
        font-size: 6vw;
    }
    #uni-studio .program-model-descript ul {
        margin-top: 10%;
        margin-left: -5vw;
        color: #808080;
        font-size: 3.6vw;
        text-align: left;
        list-style-type: none;
    }
    /*------------------ Uni Studio End --------------*/
    /*------------------- 解决方案 Start -------------*/
    #solution {
        width: 100%;
    }
    #solution .item-button {
        width: 100vw;
        padding-top: 12vh;
        margin-left: 55vw;
    }
    #solution .item-button .shade {
        position: absolute;
        width: 1vw;
        height: 62vh;
        background-color: #f2f2f2;
    }
    #solution .item-button button {
        color: #808080;
        margin: 1vh 0px;
        padding: 1.6vh 80px;
        width: 60vw;
        font-size: 4vw;
    }
    #solution .item-description {
        float: right;
        margin-top: -65vh;
        margin-right: 25vw;
        width: 160vw;
        height: auto;
    }
    #solution .item-description .title {
        margin-top: 6vh;
        margin-left: 18vw;
        color: #808080;
    }
    #solution .item-description .title p {
        margin-top: -6vh;
        margin-left: 20vw;
        font-size: 8vw;
    }
    #solution .item-description img {
        width: 8vh;
    }
    #solution .item-description ul {
        margin-top: 1vh;
        margin-right: 12vw;
        color: #808080;
        font-size: 4.0vw;
        text-align: left;
        list-style-type: none;
    }
    /*------------------- 解决方案 End --------------*/
    /*------------------- 关于我们 Start --------------*/
    #about-us {
        width: 100%;
    }
    #about-us .unit-content {
        margin: 2vh 25vh 0px 25vh;
    }
    #about-us .description ul {
        margin-top: 5vh;
        margin-right: 30px;
        color: #808080;
        font-size: 4vw;
        text-align: left;
        list-style-type: none;
    }
    #about-us .description li {
        padding: 2vh;
        line-height: 200%;
    }
    #about-us .contact div {
        text-align: center;
        margin: 0 10vw;
    }
    #about-us .contact .icon img {
        margin-top: 3vh;
        width: 18vh;
        border-radius: 10%;
    }
    #about-us .contact .icon .left {
        margin-right: 30vw;
    }
    #about-us .contact .icon .right {
        margin-left: 30vw;
    }
    #about-us .contact .button button {
        margin-top: 4vh;
        padding: 1.6vh 16vw;
        color: #808080;
        font-size: 4vw;
    }
    #about-us .contact .button .left {
        margin-right: 22.5vw;
    }
    #about-us .contact .button .right {
        margin-left: 22.5vw;
    }
    /*------------------- 页脚 End ----------------*/
    /*------------------- 页脚 Start --------------*/
    #page-footer {
        background-color: #007a82;
        width: 100%;
        height: auto;
        color: #fefefe;
        padding: 3% 50vw 1% 50vw;
    }
    #page-footer p {
        line-height: 160%;
        font-size: 4vw;
    }
    #page-footer .logo img {
        height: 5vh;
    }
    #page-footer .logo p {
        font-size: 4vw;
        margin-top: 1vh;
        font-style: italic;
    }
    #page-footer .contact {
        display: flex;
        justify-content: flex-start;
    }
    #page-footer .contact .left {
        width: 160vw;
        padding-right: 5vw;
    }
    #page-footer .contact .left div {
        margin-top: 3vh;
    }
    #page-footer .contact .right {
        width: 60vw;
        padding-left: 2vw;
    }
    #page-footer .contact .right div {
        margin-top: 3vh;
    }
    #page-footer .copyright {
        text-align: center;
        margin-top: 5vh;
    }
    /*------------------- 页脚 End ----------------*/
}