/*------------------ 公共的 Start ----------------*/

body {
    background-color: #f2f2f2;
    min-width: 1280px;
}

.row {
    width: 100%;
}

.unit-separator {
    height: 17vh;
    background-color: #808080;
    text-align: center;
}

.unit-separator .separator-title {
    padding-top: 5vh;
    font-size: 2vw;
    font-weight: bold;
    color: #fefefe;
}

.unit-separator .separator-title span {
    color: #00a3ae;
}

.unit-separator .separator-description {
    font-size: 1vw;
    color: #fefefe;
}

.unit-content {
    height: 76vh;
}

/*------------------ 公共的 End ----------------*/

/*------------------ 导航栏 Start -----------------*/

#navigation-background {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 10vh;
    left: 0;
    right: 0;
    z-index: 99;
}

#navigation {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 100;
}

#navigation #company-logo {
    height: 4.5vh;
    margin-top: 3vh;
    margin-left: 5vh;
}

#navigation ul {
    list-style-type: none;
    float: right;
    margin-top: 3vh;
    margin-right: 5vh;
    text-align: center;
    font-size: 1.2vw;
}

#navigation li {
    float: left;
    /*改动的地方*/
    width: 10vw;
    padding: 10px;
}

#navigation a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
}

#navigation a {
    display: block;
    /*整体变为可点击区域，而不只是字*/
}

/*------------------ 导航栏 End -----------------*/

/*------------------- 首页 Start -----------------*/

#home-page {
    background-image: url("img/home-page-background.gif");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

#home-page p {
    color: white;
    margin-left: 13%;
}

#home-page button {
    margin-left: 13%;
    margin-top: 2%;
    padding: 1.5vh 5vw;
    font-size: 1.5vw;
    color: #007a82;
}

/*------------------- 首页 End -----------------*/

/*------------------- 关于 RPA Start --------------*/

#about-rpa {
    width: 100%;
}

#about-rpa .slide {
    width: 100%;
    height: 100vh;
    min-height: 180px;
    overflow: hidden;
    position: relative;
    left: auto;
    right: auto;
}

#about-rpa .slide .img img {
    width: 30%;
}

#about-rpa .slide .img h2 {
    padding: 2% 0px;
}

#about-rpa .slide .img p {
    text-align: justify;
}

#about-rpa .slide-number {
    text-align: center;
    margin-top: 70vh;
    z-index: 999;
}

#about-rpa .slide-number button {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border-style: solid;
    border-color: #adadad;
    background-color: white;
    margin: 0 10px;
    font-size: smaller;
    color: #007a82;
}

.slide .img {
    overflow: hidden;
    position: absolute;
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
    text-decoration: none;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    margin: 7px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #808080;
    box-shadow: 0 0 3px #808080;
    background-color: white;
    box-shadow: 0px -2px 15px #888888;
    border-radius: 3%;
}

.slide .img1 {
    width: 40%;
    height: 40%;
    top: 30%;
    left: -50%;
    z-index: 1;
}

.slide .img2 {
    width: 15vw;
    height: 36vh;
    top: 10vh;
    left: 23vw;
    z-index: 2;
    font-size: 0.8vw;
}

.slide .img3 {
    width: 20vw;
    height: 48vh;
    top: 15vh;
    left: 40vw;
    z-index: 3;
    font-size: 1.2vw;
}

.slide .img4 {
    width: 15vw;
    height: 36vh;
    top: 10vh;
    left: 62vw;
    z-index: 2;
    font-size: 0.8vw;
}

.slide .img5 {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 110%;
    z-index: 1;
}

/*------------------- 关于 RPA End --------------*/

/*------------------ Uni Studio Start --------------*/

#uni-studio {
    width: 100%;
}

#uni-studio .program-display {
    background-image: url('img/uni-studio-border.png');
    background-size: cover;
    margin-left: 23%;
    margin-top: 3vh;
    width: 88vh;
    height: 71vh;
}

#uni-studio .program-display img {
    position: relative;
    border-style: dotted;
    border-color: #00a3ae;
}

#uni-studio .program-model-descript {
    height: 100%;
    text-align: center;
}

#uni-studio .program-model-descript button {
    margin-top: 20%;
    color: #ffc000;
    pointer-events: none;
    font-size: 2vw;
}

#uni-studio .program-model-descript ul {
    margin-top: 10%;
    margin-left: -5vw;
    color: #808080;
    font-size: 1.2vw;
    text-align: left;
    list-style-type: none;
}

/*------------------ Uni Studio End --------------*/

/*------------------- 解决方案 Start -------------*/

#solution {
    width: 100%;
}

#solution .item-button {
    margin: 3% 4% 0% 8%;
}

#solution .item-button .shade {
    position: absolute;
    width: 1vw;
    height: 100%;
    background-color: #f2f2f2;
}

#solution .item-button button {
    color: #808080;
    margin: 1vh 0px;
    padding: 1.6vh 60px;
    width: 20vw;
    font-size: 1.4vw;
}

#solution .item-description .title {
    margin-top: 8vh;
    color: #808080;
}

#solution .item-description .title p {
    margin-top: 2vh;
    font-size: 2vw;
}

#solution .item-description img {
    width: 8vh;
}

#solution .item-description ul {
    margin-top: 1vh;
    margin-right: 12vw;
    color: #808080;
    font-size: 1.2vw;
    text-align: left;
    list-style-type: none;
}

/*------------------- 解决方案 End --------------*/

/*------------------- 关于我们 Start --------------*/

#about-us {
    width: 100%;
}

#about-us .unit-content {
    margin: 2vh 40vh 0px 40vh;
}

#about-us .description ul {
    margin-top: 5vh;
    margin-right: 30px;
    color: #808080;
    font-size: 1.2vw;
    text-align: left;
    list-style-type: none;
}

#about-us .description li {
    padding: 2vh;
    line-height: 200%;
}

#about-us .icon {
    text-align: center;
}

#about-us .icon img {
    margin-top: 3vh;
    width: 15vh;
    border-radius: 10%;
}

#about-us .icon button {
    margin-top: 4vh;
    padding: 1.5vh 5vw;
    color: #808080;
    font-size: 1.2vw;
}

/*------------------- 关于我们 End ---------------*/

/*------------------- 页脚 Start --------------*/

#page-footer {
    background-color: #007a82;
    width: 100%;
    height: auto;
    color: #fefefe;
    padding: 3% 17% 1% 17%;
}

#page-footer p {
    line-height: 160%;
}

/*------------------- 页脚 End ----------------*/